# Dependencies
frontend/node_modules/
frontend/.vite/
frontend/dist/
node_modules/
.vite/
dist/
src/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Lock files in root
package-lock.json
index.html
